.hero-banner-one {
  & .img-box {
    & .main-img {
      width: 100%;
      height: 100%;
    }
  }
}
.hero-banner-two {
  & .img-box {
    & .main-img {
      width: auto;
      height: 100%;
    }
    & .screen_01 .screen_02 {
      width: 100%;
      height: 100%;
    }
  }
}
.hero-banner-three {
  & .img-box {
    & .main-img {
      width: 100%;
      height: auto;
    }
  }
}

// media
@media (max-width: 1199px) {
  .hero-banner-two .img-box .screen_01,
  .hero-banner-two .img-box .screen_02 {
    height: auto;
  }
}

.blog-meta-one {
  & .post-img {
    & .blog-img {
      width: 100%;
      height: 100%;
    }
  }
}

.slick-slide {
  & > div {
    margin: 0 15px;
  }
}

.text-feature-one {
  & .img-data {
    & .img {
      height: auto;
    }
  }
}

.feedback-section-two {
  & .slider-wrapper {
    & .feedback-slider-two {
      & .slick-slide {
        & > div {
          margin: 50px 25px;
        }
      }
    }
  }
}

.text-feature-three {
  & .img-box {
    & img {
      height: auto;
    }
  }
}

.feedback-section-three {
  & .carousel-indicators {
    & .user {
      height: auto;
    }
  }
}

.text-feature-one {
  & .img-data {
    & .lazy-img {
      height: auto;
    }
  }
}

.slick-slider {
  &.expert-slider-two {
    & .slick-dots {
      display: flex !important;
    }
  }
}

.slick-slide .item:focus,
img:focus-visible,
img:focus {
  // box-shadow: none;
  outline: none;
}

.feedback-slider-one {
  & .slick-slide {
    & > div {
      margin: 0 20px;
    }
  }
}

.pagination-one {
  // .page-item {
  //   margin: 0 10px;
  // }
  .page-link {
    padding: 0;
    width: 60px;
    height: 40px;
    border-radius: 8%;
    line-height: 40px;
    font-size: 16px;
    color: #31795a;
    background: #f4f8f6;
    border: 1px solid #f4f8f6;
    transition: 0.3s;
    &:hover {
      background: #31795a;
      color: #fff;
    }
  }
  & li {
    &.active {
      & a {
        background: #31795a;
        color: #fff;
      }
    }
    &.previous {
      &.disabled {
        display: none;
      }
      & a {
        width: auto;
        height: auto;
      }
    }
    &.next {
      margin-left: 12px;
      &.disabled {
        display: none;
      }
    }
  }
}

.pagi-candidate-details {
  .page-link {
    width: 35px;
    height: 35px;
    line-height: 32px;
    border-radius: 8%;
    color: black;
    background: #f6f6f6;
    border: 1px solid #f6f6f6;
    transition: 0.3s;
    &:hover {
      background: white;
      color: black;
    }
  }
  & li {
    &.active {
      & a {
        background: #f6f6f6;
        color: black;
      }
    }
    &.previous {
      &.disabled {
        display: none;
      }
      & a {
        width: auto;
        height: auto;
      }
    }
    &.next {
      margin-left: 12px;
      &.disabled {
        display: none;
      }
    }
  }
}

.nice-select {
  &.category {
    & .list {
      max-height: 250px;
      overflow-y: auto;
    }
  }
  &.location {
    & .list {
      max-height: 250px;
      overflow-y: auto;
    }
  }
}

.nice-select:after {
  right: 0px;
}

.save-btn {
  &.active {
    background: #31795a !important;
    color: #fff !important;
  }
}
