// Font Family
// $main-font: 'gordita';
// var(--eb_garamond-font): 'EB Garamond', serif;

// Color Settings
$text-color: rgba(0, 0, 0, 0.7);
$text-dark: #000;
$heading: white;
$light-bg: #eff6f3;
$blue-bg: #eaf1fa;
$color-one: #0c1d5c;
$color-two: #1e87f0;
// $color-one: #244034;
// $color-two: #d2f34c;
// 00bf58
$color-three: #1e87f0;
$color-four: #0c1d5c;
$color-five: #29d259;
$color-six: #ff2730;
// $color-six: #29d259;
